@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');    //font
@import './personal_form.scss';

//variables
$charcoal: #555555;
$red: #dc3545;

body {
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Mitr', sans-serif;
  color: $charcoal;
}

.required {
  &:after {
    content: '*';
    color: $red;
  }
}