.personal-form {
  background-color: rgba(lightgrey,0.4);
  padding: 15px;
  border-radius: 15px;
  margin: 0 1rem 1rem 1rem;
  // width: 80%;
  .form-row{
    margin: 0 0 1rem 0;
    label{
      margin: 5px;
    }
  }

  .invilid-text {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }

}